#window {
  margin: 0px;
  background-color: rgba(217, 136, 19, 0.8);
  border-radius: 10px;
}

#input {
  margin: 5px;
  border: solid 2px;
  color: #2A1A1A;
  background-color: rgba(173, 108, 14, 0.8);
  border-color: #6A4A2A;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: none;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #2A1A1A;
  font-weight: bold;
} 

#entry:selected {
  background-color: transparent;
}
