/elvish/lib/direnv.elv
/elvish/rc.elv
/environment.d/10-home-manager.conf
/fontconfig/conf.d/10-hm-fonts.conf
/git/config
/kak/kakrc
/kitty/kitty.conf
/mpv/script-opts/ytdl_hook.conf
/sway/config
/systemd/user/pipewire-pulse.service
/systemd/user/pipewire-pulse.socket
/systemd/user/pipewire.service
/systemd/user/pipewire.socket
/systemd/user/sway-session.target
/systemd/user/tray.target
/systemd/user/wireplumber.service
/user-dirs.conf
/user-dirs.dirs
